#page-create-point {
    width: 90%; /* Largura normal de 90% mas */
    max-width: 1100px; /* se chegar a 1100px ele não aumenta mais. */

    margin: 0 auto; /* Em cima e embaixo é 0 mas nas laterais o espaço é preenchido automaticamente */
}

#page-create-point header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between; /* Basicamente, no caso de 2 elementos, joga 1 elemento pra um lado, colocar um espação no meio, e colocar o outro elemento do lado oposto. */
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    background-image: url('/assets/arrow-left.svg');
    width: 20px;
    height: 24px;
    margin-right: 12px;

    display: flex;
}

form {
    margin: 80px auto; /* Alinhamento de caixas pelo lado de fora, display flex faz pelo lado de dentro */
    background-color: white;
    max-width: 760px;
    padding: 64px;

    /* margin -> outline -> border -> padding*/
    box-sizing: border-box; /* O padrão é box-sizing, quando muda pra border-box o padding vai preencher só até o limite definido da caixa, sendo o border o definidor de largura máxima */
    border-radius: 8px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 24px;
}

form .field {
    margin-bottom: 24px;
    
    flex: 1;
    display: flex;
    flex-direction: column; /* O elementos passam a se estrturar como colunas ao invés do padrão de ficar um do lado do outro */
}

form .field-group {
    display: flex;
}

form input, form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 8px;
    font-size: 1em;
    border-radius: 8px;
    /* outline: none; Faz com que a linha preta da hora de clicar no campo pra digitar não apareça */
}

form select {
    -webkit-appearance: none; /* Esses atributos assim fazem com que suma as características visuais padrão do campo select, tipo aquela seta pra baixo do lado */
    -moz-appearance: none; /* No chrome pode dar alguns problemas de ele não aplicar os estilos definidos para o campo select */
    appearance: none;  /* Assim esses atributos none servem pra resetar as coisas que o browser tinha posto */
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field { /* Dentro do form fieldgroup vai pegar um field seguido de outro field */
    margin-left: 24px; /* O estilo está sendo aplicado no 2° field */
} /* Ex: Aplicando o CSS no campo cidade, o qual tá vindo após o campo estado */

form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 40px;

    transition: background-color 200ms; /* Faz a transição de cor só do background */
}

form button:hover {
    background-color: #2FB86E;
}

/* 2° fieldset: Itens de Coleta */

.items-grid {
    display: grid; /* Enquanto o flex é mais unidimensional, o grid trabalha melhor algo mais próximo de matrizes, linhas e colunas */
    /* grid-template-columns: 200px 200px 200px; Cria 3 colunas de 200px */
    grid-template-columns: 1fr 1fr 1fr; /* O fr é uma unidade de tamanho flexível que vai calcular sozinho como encaixar x colunas nesse espaço */
    gap: 16px; /* Menos complexo que o margin para separar os elementos */
}

.items-grid li {
    height: 120px;
    border: 2px solid #f0f0f5;
    border-radius: 8px;
    padding: 32px 24px 16px;
    background-color: #f0f0f5;

    list-style: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Se comporta diferentemente de acordo com o flex-direction */

    cursor: pointer;
}

.items-grid li span {
    margin-top: 12px;
    
    flex: 1; /* Faz com que o restante do espaço após a imagem seja para este elemento */
    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img, .items-grid li span {
    pointer-events: none; /* Pra ajudar no event listener do JS */
}